{% extends 'base.html' %}

{% block content %}
   <form method="post" class="site-form has-background-light" style="margin-top: 200px">
       {% csrf_token %}
       <p class="content has-text-centered is-size-4 mb-4">Siz quyidagi "{{ article.title }}" postni o`chirishga rozimisiz?</p>
       <div class="has-text-centered">
           <button type="submit" class="button is-primary">Yes</button>
           <a href="{% url 'article_detail' article.slug %}" class='button is-danger'>No</a>
       </div>
   </form>
{% endblock %}