{% extends 'base.html' %}
{% block content %}
<form class="site-form has-text-centered has-background-light" method="post" style="margin-top: 120px">
    <h1 class="title is-size-2 has-text-centered has-text-dark">Sign in</h1>
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    
    <button type="submit" class="button is-primary is-fullwidth mt-3">Sign in</button>

   <br>
<a href="{% url 'sign_up' %} " class=" is-vcentered is-info ">Ro'yhatdan o'tish</a>
</form>
{% endblock %}